*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: titre;
	src: url("Mermaid Babies.otf");
}

@font-face {
	font-family: corps;
	src: url("Sansburg.ttf");
}


@font-face {
	font-family: bulle;
	src: url("LEMONMILK-Regular.otf");
}

@media screen and (max-width: 1500px) {
	#dec { width:	90% }
}


html {
	scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

h3 ,h4 , h5 {
	font-family: bulle;
}


p {
	font-family: corps;
	margin: 1vh 2vw;
}

a {
	text-decoration: none;
	font-family: corps
}

ul {
	text-align: center;
}

@media screen and (min-width: 2000px) {
		#menu li {
			width: 20vw;
			margin: 0 1vw;
			font-size: 0.1vh;
		
		}
}


@media screen and (min-width: 1500px) {
		#menu li {
			width: 20vw;
			margin: 0 0.8vw;
			font-size: 1.5vw;
			height: 40vh;
		}

		#menu p {
			font-size: 1vw;
		}

		#ordinateur li , #redesign li , #plaquette li , #rs li {
			display: inline-block;
			width: 40vw;
			height: 90vh;
			text-align: left;
			vertical-align: top;
			margin-top: 10vh;
		}

		#ordinateur {
			text-align: center;
		}

		#moi {
		margin-left: 6vw; margin-right: 6vw;
	}

	#xp li {
		width: 40vw;
		height: 10vh;
		display: inline-block;
	}

	#comp h3 {
		margin-top: 5vh;
		font-size: 8vh;
		margin-left: 4vw;
	}

	#rs h3 {
		font-size: 3vh;
		margin: 5vh 4vw;
		text-align: left;
	}
}

@media screen and (min-width: 650px) {
	#menu li {
		display:inline-block;
		width: 20vw;
		margin: 0 1vw;
		height: 12rem;

	}

	#ordinateur {
			display: inline-block;
			width: 40vw;
			height: 90vh;
			text-align: left;
			vertical-align: top;
			margin-top: 10vh;
		}

	#comp h3 {
		margin-top: 5vh;
		font-size: 8vh;
		margin-left: 4vw;
	}

		#comp h5 {
		margin-left: 8vw ;
		font-size: 2vh;
}

	#rs h3 {
		font-size: 3vh;
		margin: 5vh 4vw;
		text-align: left;
	}

	p {
		font-size: 2vh;
		margin: 2vh 3vw;
		text-align: left;
	}

	img {
		width: 80%;
		margin: 3vh 0vw;
	}

}

@media screen and (max-width: 650px) {

	html {
		text-align: center;
	}
	#menu li {
			width: 80vw;
			margin: 6vh 10vw;
			font-size: 4.5vw;
			padding-top: 4vh;
			height: 11rem;
			
	}

	img {
		width: 85%;
		margin: 3vh 0vw;
	}

	#menu a {
		margin: 5vh auto;
	}

	#moi {
		margin-left: 6vw; margin-right: 6vw;
	}

	#comp h3 {
		margin-top: 5vh;
		font-size: 4vh;
	}

	#comp h5 {
		margin-left: 5vw ;
		font-size: 1.8vh;
}

	#comp h4 {
		font-size: 2.8vh;
		margin: 1vh 3vw;
	}


	#rs h3 {
		font-size: 3.5vh;
		margin: 3vh 2vw;
	}

	p {
		font-size: 2vh;
		margin: 2vh 5vw;
	}
}

header img {
	width: 100vw;

}


#menu {
	text-align: center;
}

#menu li {
	vertical-align: top;
	background: transparent url("cv14.jpg") center center no-repeat;
	background-size: cover;
	box-shadow: 10px 10px 18px #a7a7a7;
	border-radius: 5%;
}

#menu h3 {
	margin: 1rem auto;

}

#menu p {
	margin-bottom: 2vh;
}
#menu a {
	padding: 0.8vh 2vw;
	background-color: rgba(48, 48, 48, 1);
	color: white;
	border-radius: 5%;

}

#moi {
	margin-top:10vh;
}

#moi p {
	margin: 2vh 0;
}

#comp h5 {
	text-align: left;
}

