*{
	margin: 0;
	padding: 0;
}

@font-face {
	font-family: titre;
	src: url("Mermaid Babies.otf");
}

@font-face {
	font-family: corps;
	src: url("Sansburg.ttf");
}


@font-face {
	font-family: bulle;
	src: url("LEMONMILK-Regular.otf");
}

@media screen and (max-width: 1500px) {
	#dec { width:	90% }
}


html {
	scroll-behavior: smooth;
}

li {
	list-style-type: none;
}

h3 ,h4 , h5 {
	font-family: bulle;
}


p {
	font-family: corps;
	margin: 1vh 2vw;
}

a {
	text-decoration: none;
	font-family: corps
}

ul {
	text-align: center;
}

@media screen and (min-width: 2000px) {
		#menu li {
			width: 20vw;
			margin: 0 1vw;
			font-size: 0.1vh;
		
		}
}


@media screen and (min-width: 1500px) {
		#menu li {
			width: 20vw;
			margin: 0 0.8vw;
			font-size: 1.5vw;
			height: 50vh;
		}

		#menu p {
			font-size: 1vw;
		}

		#redesign , #plaquette  , #rs {
			height: 120vh;

		}

		#redesign li , #plaquette li , #rs li , #refonte li , #hob li , #web li{
			display: inline-block;
			width: 40vw;
			height: 100vh;
			text-align: left;
			vertical-align: top;
			margin: 4vh 2vw;

		}

	#comp h3, #rs h3 , #refonte h3{
		margin-top: 5vh;
		font-size: 8vh;
		margin-left: 4vw;
	}

	
	#comp h4, #refonte h4{
		font-size: 3vh;
		margin-top: 5vh;
	}


	#comp li {
		margin: 0vh 3vw;
	}

	img {
		height: 100vh;
		width: auto;
	}

	#descr {
		font-size: 2rem;
		padding: 0vh 2vw;
			}

	article {
		height: 120vh;
		
	}

	#contact {
		height: 100vh;
		font-size: 2vw;
	}

	#contact p {
		text-align: center;
		font-size: 1.5vw;
	}


	#contact img {
		height: 20vh;
	}

	#mail {
	line-height: 25vh;
}

	#phrase {
	padding-top: 25vh;
	}	


	

}

@media screen and (min-width: 750px) {
	#menu li {
		display:inline-block;
		width: 20vw;
		margin: 0 1vw;
		height: 12rem;

	}

	#contact img { 
		height: 15vh;
	}

	#contact a { 
		line-height: 23vh;
	}

	#redesign li , #plaquette li , #rs li , #web li , #refonte li , #hob li {
		display: inline-block;
		width: 40vw;
		
		text-align: left;
		vertical-align: top;
		margin: 10vh 1.5vw;
	}

	#comp h3 , #rs h3 , #hob h3 , #refonte h3 {
		margin-top: 5vh;
		font-size: 8vh;
		margin-left: 4vw;

	}

	#comp h4 , #rs h4 , #hob h4 , #refonte h4{
		margin-left: 2vw;
		font-size: 2vw;
	}

	#comp h5 , #rs h5 {
		margin: 1.3vh 2.5vw;
		font-size: 2.2vh;
		color: purple;
}


	#descr { 
		margin: 0vh 4vw;
	}
	 
	#rs h4 {
		margin-top: 6vh;
	}

	p {
		font-size: 2.5vh;
		margin: 2vh 3vw;
		text-align: left;
	}

	img {
		width: 80%;
		height: auto;
		margin: 3vh 0vw;
	}

	#crochet { 
	height: 80vh;
}

#menu h3 {
	margin: 1.38rem auto;

}



}

@media screen and (min-width: 750px) and (max-width: 1500px) { 

	article { 
		height: 100vh;
	}
	
	#redesign li , #plaquette li , #rs li , #web li , #refonte li , #hob li {
		height: 100vh;
	}	

	#crochet { 
		height: 100vh;
	}

	#contact { 
		height: 70vh;
	}

	#contact h4 { 
		padding-top: 15vh;
	}

}

@media screen and (max-width: 750px) {

	html {
		text-align: center;
		margin-left: 0.5vh;
	}

	#menu li {
			width: 80vw;
			margin: 6vh 10vw;
			font-size: 4.5vw;
			padding-top: 1vh;
			height: 8rem;
			
	}

	#menu h3 {
	margin: 0.5rem auto;

}

	#descr {
		font-size: 3vh;
		padding: 0vh 1vw;
			}

	img {
		width: 85%;
		margin: 3vh 0vw;
	}

	#img {
		height: 90%;
	}

	#menu a {
		margin: 5vh auto;
	}

	#moi {
		margin-left: 6vw; margin-right: 6vw;
	}

	#comp h3 , #refonte h3 , #hob h3 , #hob h3{
		margin-top: 15vh;
		font-size: 4vh;
	}

	#comp h5 , #rs h5 {
		margin-left: 5vw ;
		font-size: 1.8vh;
		color: purple;
}

	#comp h4, #refonte h4 , #hob h4 , #rs h4{
		font-size: 2.8vh;
		margin-top: 10vh;
		
	}


	#rs h3 {
		font-size: 3.5vh;
		margin: 3vh 2vw;
	}

	p {
		font-size: 2vh;
		margin: 2vh 5vw;
	}

	#contact {
		font-size: 4vw;
		height: 80vh;
	}

	#contact img {
		height: 12vh;
	}

	#mail {
		line-height: 20vh;
	}

	#phrase {
	padding-top: 5vh;
	}	

	#crochet { 
	height: 200vh;
}
}










header img {
	width: 100vw;
	box-shadow: none;

}

img {
	box-shadow: 10px 10px 18px #a7a7a7;
}


#menu {
	text-align: center;
}

#menu li {
	vertical-align: top;
	background: transparent url("cv14.jpg") center center no-repeat;
	background-size: cover;
	box-shadow: 10px 10px 18px #a7a7a7;
	border-radius: 5%;
}



#menu p {
	margin-bottom: 2vh;
}
#menu a {
	padding: 0.8vh 2vw;
	background-color: rgba(48, 48, 48, 1);
	color: white;
	border-radius: 5%;

}

#moi {
	margin-top:10vh;
}

#moi p {
	margin: 2vh 0;
}

#comp h5 {
	text-align: left;
}




#detail ul {
	text-align: center;
	
}


#detail li {
	width: 40vh;
	height: 40vh;
	border: solid 0.5vh rgba(48, 48, 48, 1);
	display: inline-block;
	margin : 2vh 1vw 2vh 1vw;
	vertical-align: top;
	box-shadow: 10px 10px 18px #a7a7a7;
}

#detail p {
	opacity: 0;
	transition: all	0.5s ease;
	text-align: center;
	width: 40vh;
	height: 25vh;
	background-color: white;
	font-family: bulle;
	font-size: 4vh;
	padding-top: 15vh;
	margin-left: 0;
	margin-top: 0;
}

#detail p:hover {
	transform : scale(0.9) ;
	opacity: 0.6;
}

#abeille {
	background: transparent url("cv18.jpg") center center no-repeat;
	background-size: cover;
}

#abeille p , #ponyo p, #veste p, #doudou p {
	background: transparent url("cv14.jpg") center center no-repeat;
	background-size: cover;

}

#doudou {
	background: transparent url("cv15.jpg") center center no-repeat;
	background-size: cover;
}

#veste {
	background: transparent url("cv16.jpg") center center no-repeat;
	background-size: cover;
}

#ponyo {
	background: transparent url("cv17.jpg") center center no-repeat;
	background-size: cover;
}

#contact {
	background: transparent url("cv22.jpg") center center no-repeat;
	background-size: cover;

}

#contact p {
		text-align: center;
	}




#contact li  {
	list-style-type: none;
	margin-top: 1vh;
	padding-top: 1vh;
}

#contact img {
	width: auto;
	border-radius: 50%;
	border: solid 2px rgba(48, 48, 48, 1);
}

#ph li {
	display: inline-block;
	vertical-align: top;
	margin: 0vh 1vw 0vh 1vw;
}

